.featured{
    height: 100vh;
}

.featured--vertical{
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured--horizontal{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.5rem 0 9rem 3rem;
}

.featured--name{
    font-size: 5rem;
    font-weight: bold;
}

.featured--info{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.featured--points, 
.featured--year, 
.featured--seasons{
    display: inline-block;
    margin-right: 1rem;
}
.featured--points{
    color: #46d369;
}

.featured--description{
    margin-top: 1rem;
    font-size: 1.3;
    color: #999;
    max-width: 40%;
}

.featured--buttons{
    margin-top: 1rem;
}

.featured--watchbutton, 
.featured--mylistbutton{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.7rem 1.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    margin-right: 0.75rem;
    opacity: 1;
    transition: opacity 0.2s;
}

.featured--watchbutton:hover, 
.featured--mylistbutton:hover{
    opacity: 0.7;
}

.featured--watchbutton{
    background: #fff;
    color: #000;
}

.featured--mylistbutton{
    background: #333;
    color: #fff;
}

.featured--genres{
    margin-top: 1rem;
    font-size: 1rem;
    color: #999;
}